<!DOCTYPE html>
<html>
  <head>
      <title>CQPLαbs - $title$</title>
      <meta name="description" content="" />
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link href="/favicon.ico" rel="shortcut icon">      
      <meta name="keywords" content="" />
      <link rel="stylesheet" type="text/css" href="/css/main.css" />
      <link rel="stylesheet" type="text/css" href="/css/syntax.css" /> 
      $if(mathjax)$ $mathjax$ $endif$
    </head>

  <body>
    <div id="main">
      <static>
  <div id="heading">

    <div class="inner">

        <img src="/images/head-logo.png">

    <div id="nav" class="nav">           
        <div class="navlist">
        <ul class="nav">
           <li><a href="/">Home</a></li>
           <li><a href="/archive.html">Archive</a></li>
           <li><a href="/projects.html">Projects</a></li>
           <li><a href="/atom.xml">Feed</a></li>
        </ul>
        </div>
    </div>

    </div>
  </div>
</static>

$body$

    <div id="footer">
      <p class="part-1">Powered by <b>Hakyll</b></p> <p class="part-2">Because the generation of random numbers is too important to be left to chance...</p>
    </div><!--end footer-->

    <script type="text/javascript" src="/js/site.js"> </script>
  </body>
</html>
