<div class='subpage' id='content'>
    <div class='inner-page'>
      <div class='newspaper'>

        

  <div id='blog-post'>

    <h2 class='crumb-title'>
      <span itemscope='itemscope' itemtype='http://data-vocabulary.org/Breadcrumb'>
        <span itemprop='title'>$title$</span>
      </span>
    </h2>

    <div class='post-meta'>
        $posts$
    </div>

<div class='post-content'>
      <div class='markdown'>

$body$

</div>
    </div>
  </div>

  </div>
    </div>

  </div><!--end content-->
